extends layout

block content

	section.sectionOne
		.col-sm-3.well
			h3
				a(href='/hybrid')  Hybrid Encryption 
		.col-sm-3.well
			h3
				a(href='/layered')  Layered Encryption 
		.col-sm-3.well
			h3
				a(href='/asymmetric')  Asymmetric Encryption
