extends layout

block content

	section.sectionIndex.text-center
		.col-sm-4.well(style='margin-left:110px;')
			h2
				a(href='/encrypt') Encrypt Data 
		.col-sm-4.well(style='margin-left:220px;')
			h2
				a(href='/decrypt') Decrypt Data
